:root {
  --white: #ffff;
  --gray: #7e7c7c;
  --blue: rgb(5, 5, 96);
}
table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  overflow: hidden;
}

th {
  /* width: 100px; */
  height: 50px;
  text-transform: uppercase;
  background-color: var(--blue);
  color: var(--white);
}

table,
th,
td {
  border: 1px solid var(--gray);
  border-collapse: collapse;
  text-align: center;
  font-weight: 700;
}

td {
  font-size: 16px;
  height: 32px;
}

tbody tr:hover {
  background-color: green !important;
  color: var(--white);
}

tbody tr:nth-child(even) {
  background-color: rgb(187, 187, 241);
}
