html {
  padding: 0 12px;
  background-color: seashell;
}
body {
  font-size: 18px;
  margin: 0;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}

#name {
  text-align: center;
  color: blue;
  text-transform: uppercase;
}

section {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 4px 12px;
  background-color: rgb(255, 252, 252);
}

#image {
  text-align: center;
}

img {
  border: 1px solid;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#contact {
  border-radius: 4px;
  background-color: #e0eef9;
  border: none;
  border-left: 4px solid blue;
}
